<mat-card>
  <mat-card-title>{{'home.chart.#001.title' | translate}}</mat-card-title>
  <mat-card-content>
    <div [chart]="pieChart"></div>
    <mat-spinner *ngIf="pieChartDataLength === 0"
                 diameter="32"
                 class="loader"></mat-spinner>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>{{'home.chart.#002.title' | translate}}</mat-card-title>
  <mat-card-content>
    <div [chart]="temperatureChart"></div>
    <mat-spinner *ngIf="temperatureChartDataLength === 0"
                 diameter="32"
                 class="loader"></mat-spinner>
  </mat-card-content>
</mat-card>

