<mat-drawer-container autosize>
  <mat-drawer #drawer
              mode="over"
              opened="false">

    <div *ngFor="let route of routes"
         class="menuLinkWrapper">
      <a class="menuLink"
         routerLinkActive="active"
         [routerLink]="route.path">{{('menu.' + route.path) | translate}}</a>
    </div>

  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>

<mat-toolbar color="primary">

  <button mat-mini-fab
          color="accent">
    <mat-icon [ngClass]="{'menu-trigger': true, opened: drawer.opened}"
              (click)="drawer.toggle()">keyboard_arrow_down
    </mat-icon>
  </button>

  <span class="toolbar-spacer"></span>

  <span *ngIf="currentRoute">{{('menu.' + currentRoute.path) | translate}}</span>

</mat-toolbar>
