.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 64px;

  mat-icon.menu-trigger {
    cursor: pointer;
    webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
  }

  mat-icon.menu-trigger.opened {
    transform: rotate(-90deg);
  }

  .greetings {
    margin-left: 21px;
  }

}

mat-drawer-container {
  height: 100vh;
  padding-top: 64px;
  padding-bottom: 40px;

  mat-drawer {
    padding: 84px 10px 20px 10px;
    min-width: 200px;
    box-shadow: 15px 0 15px -15px #bbb;

    .menuLinkWrapper {
      margin-top: 5px;
    }

    .menuLink {
      color: #333;
    }

    .menuLink.active {
      color: #3f51b5;
    }

    .menuLink:hover {
      color: #3f51b5;
    }

    .menuLink:link,
    .menuLink:visited,
    .menuLink:hover,
    .menuLink:active {
      text-decoration: none;
    }
  }

  /deep/ mat-drawer-content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 10px;

    > *:not(router-outlet) {
      flex: 1;
    }
  }

  mat-drawer.hidden {
    display: none;
  }

}
